@model IEnumerable<CharityStartAtHome.Models.Cloth>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <img src="~/Content/images/Time.jpg" alt="Norway">
            <h2>No act of kindness is ever wasted</h2>
            <p>Help make this world a better place to live in.</p>
        </div>
    </div>
    <div class="row">
        <p>
            Charity has been attributed as helping the underprivileged, which includes a wide range of products. The term charity is often misinterpreted. Studies show that majority of people think of charity in terms of donating money. However, charity generally means the voluntary giving of help; help in terms of giving one’s time to someone or donating one’s things. Though public donations are necessary to support people in need, where government funding is limited, charity in any form can help a person live a better life. According to research, charity organizations are struggling to raise more help from the public to help the needy and they are facing a declining trend.
        </p>
        <p>
            Do your Bit is designed to encourage people who are willing to donate their old clothes, old furniture, give blood and donate organ, instead of money, to the community where they live.  Do your Bit provides an all in one platform – to help you conveniently gain information about four different ways of helping your community without touching your bank balance. Our aim is to raise community awareness of how charity begins at home. Our purpose is to assist you in finding a way you can help people around you by listing all the necessary information. Do you Bit is designed to let young people like you participate in their community charity and help people around them. By using our website, you can easily find a way to give back to your community, to make this world a better place to live in.
        </p>
    </div>
</div>


