@model IEnumerable<CharityStartAtHome.Models.Blood>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    Your are here:
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>What you can help</li>
    <li>Give blood</li>
    <li>Learn more</li>
</ul>

<div class="container_image">
    <img  class="img-responsive" src="~/Content/images/bloodm2.jpg" alt="Norway">
    <div class="centered">
        <h1>Blood is a priceless gift</h1>
        <p>The gift of blood can only come from another human being – there are no substitutes. </p>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6">
            <h2>Why donate blood?</h2>
            <p>Up to 3 people’s lives can be saved with just 1 donation. There are always people in need of blood. Blood pumped by our heart and running through our veins. It cannot be artificially synthesized or be replaced by another fluid.  Start donating blood periodically today, instead of waiting for a time of need and emergency. You ensure adequate blood reserves are available for you and your family (There is a feeling of deep hearted satisfaction having helped people in need).</p>
        </div>
        <div class="col-sm-6">
            <h2>Where the Blood Goes?</h2>
            <p>You might ask where the blood you donated goes. It is first tested and processed before being given to recipients to make sure it is safe for administering. For example, Red Cell components in the blood have a life of 35 days, while platelets last for only 7 days. This shows it is crucial to have a fresh blood supply at all times, made possible through regular blood drives and healthy blood donors.</p>
        </div>
    </div>
    <div class="row text-center m-b-50">
        <div class="col-sm-6">
            <h2>Blood donation process </h2>
            <p>If you are thinking about donating blood, follow the following steps: </p>
            <ul>
                <li>Check if you are eligible (as a blood donor).</li>
                <li>Find the nearest blood donation center.</li>
                <li>Book an appointment for a date and time depending on your availability and preference.</li>
                <li>Donate.</li>
            </ul>
            <p>For details about what you need to do before and after donating, visit Australian Red Cross Blood Service website below.</p>
            <a href="http://www.donateblood.com.au/learn/before-and-after-you-donate" target="_blank" class="btn btn-success btn-lg">Visit Red Cross Center website</a>
        </div>
        <div class="col-sm-6">
            <h2>Who can give blood?</h2>
            <p>In the broader context, you can donate blood if you are healthy without the flu, cold or illness, weigh more than 50kgs, and are 16-70 years old. However, other weighing factors like past medical history and pregnancy, considered to ensure a safe and pure blood reserve, may hinder your blood donation chances.</p>
            <p>For more details, take the eligibility quiz today provided by the Australian Red Cross Service to find out whether you are eligible to donate blood.</p>
            <a href="http://www.donateblood.com.au/eligibility" target="_blank" class="btn btn-success btn-lg">Visit Red Cross Center website</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <p>Have further questions? Clear your doubts today.</p>
            <p>Go through the list of FAQs provided by Australian Red Cross Service.</p>
            <a href="http://www.donateblood.com.au/faq-list" target="_blank" class="btn btn-success btn-lg">Visit Red Cross Center website</a>
        </div>
        <hr class="style-two" style="width:80%; margin-top:40px">
        <div class="col-xs-12">
            <h3>What are you waiting for?</h3>
            <h3>Find the nearest donor center!</h3>
            @Html.ActionLink("Give now", "List", "Bloods", new { @class = "btn btn-success btn-lg" })
        </div>
    </div>
</div>
