@model IEnumerable<CharityStartAtHome.Models.Cloth>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    Your are here:
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>What you can help</li>
    <li>Donate clothes</li>
    <li>Learn more</li>
</ul>

<div class="container_image">
    <img  class="img-responsive" src="~/Content/images/clothm2.jpg" alt="Norway">
    <div class="centered">
        <h1>Be a cause of someone’s happiness</h1>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <p>Donating your old clothes is one of the simplest ways of giving to charity without parting with cash, which not only fosters good connections, it provides someone else with a chance to feel good about themselves.</p>
        </div>
        <hr class="style-two" style="width:80%; margin-top:40px">
        <div class="col-sm-12">
            <p>Make sure it can be given away or resold. Launder dirty or soiled clothing first, and even fix clothes in bad condition such as torn items, buttons missing, broken zippers, etc. before donating.</p>
            <p> Disposing of poor quality or ruined items can cost charities tens of thousands of dollars each year. Dont donate trash! It’s not helping at all.</p>
            <div class="text-center">
                @Html.ActionLink("Donate now", "List", "Clothes", new { @class = "btn btn-success btn-lg" })
            </div>
        </div>
    </div>
</div>

