body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.silver {
    background-color: silver;
}

tr.dataHover {
    background-color: #FFFACD;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}



.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clear-padding {
    padding: 0;
}

.clear-padding-row {
    padding-left: 0;
    padding-right: 0;
}

.clear-padding-col {
    padding-top: 0;
    padding-bottom: 0;
}