<div id="floating-panel">
    <select id="mode" class="btn btn-success">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
    </select>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <hr class="style-two" style="width:80%; margin-top:70px">
        <h2>Location map & Café Nearby</h2>
    </div>
    <div class="col-xs-8">
        <div id="details_map"></div>
    </div>
    <div class="col-xs-4">
        <div id="right-panel"></div>
    </div>
</div>
