@model IEnumerable<CharityStartAtHome.Models.Viccharity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    Your are here:
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>What you can help</li>
    <li>Donate Time</li>
    <li>Learn more</li>
</ul>

<div class="container_image">
    <img class="img-responsive" src="~/Content/images/time2.jpg" alt="Norway">
    <div class="centered">
        <h1>Gift someone your time</h1>
        <p>You never know how much worth it is to someone.</p>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>Why volunteer?</h1>
            <p>
                The heart of a volunteer is not measured in size, but by the depth of the. Volunteering brings people of different ethnic backgrounds, professions and ages together, by enabling them to use their time and resources towards making a positive impact in the Australian community and feeling a sense of accomplishment and satisfaction at the same time.
                It is an amalgamation of charity, networking, learning and so much more.
                By volunteering you can commitment to make a difference in the lives of others.
            </p>
        </div>
        <hr class="style-two" style="width:80%; margin-top:40px">
        <div class="col-sm-12">
            <h2>Change Your Community</h2>
            <p>Volunteering creates lasting, positive change that YOU made. This remains one of the top things a volunteer feels. It can be through a housing project in the suburbs or being vocal about issues in the community. </p>
        </div>
        <div class="col-sm-12">
            <h2>Connect with Others</h2>
            <p>Volunteering helps you make new friends, experience teamwork and help others from wide ranging ethnic, cultural and professional backgrounds. It helps you hear their story, and share yours in the process.</p>
        </div>
        <div class="col-sm-12">
            <p>At Do Your Bit, we can match your interests and skill to suitable charity organization. You can support by:</p>
            <ul>
                <li>Volunteering in nearby charity organizations </li>
                <li>Searching where you can volunteer by postcode </li>
                <li>Exploring volunteering opportunity by category </li>
            </ul>
        </div>
        <hr class="style-two" style="width:80%; margin-top:40px">
        <div class="col-sm-12">
            <h2>Start Volunteering Today!</h2>
            @Html.ActionLink("Find volunteering opportunities", "List", "Viccharities", new { @class = "btn btn-success btn-lg" })
        </div>
    </div>
</div>